# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- List popular languages for Data Science.
- List popular libraries for Data Science.
- List popular Development Enviorments for Data Science.
- Evaluate Airthmetic Expressions

Some of the popular languages that Data Scientists use are
1. Python 
2. Julia 
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib

|Data Science Tools|
|------------------|
|Jupyter Lab       |
|Anaconda          |
|Google Colab      |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#  This a simple arithmetic expression to mutiply then add integers
print((3*4) + 5)

17

In [3]:
# This will convert 200 minutes to hours by diving by 60.
print(200 / 60)

3.3333333333333335

## Author
Mustafa Haider